name: Test and Release

on:
  push:
    branches:
      - '*'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-**'
  pull_request: {}

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  # Lint & schnelle Checks NUR unter Node 22 (hier sind devDependencies ok)
  check-and-lint:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest
    steps:
      - uses: ioBroker/testing-action-check@v1
        with:
          node-version: '22.x'
          install - command: 'npm install'
          lint: true

  # Adapter-Tests auf Ubuntu & Windows, Node 18/20/22
  adapter-tests:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x]
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: ioBroker/testing-action-adapter@v1
        with:
          node-version: ${{ matrix.node-version }}
          os: ${{ matrix.os }}
          install-command: 'npm ci --omit=dev'

  # Release auf NPM bei getaggten Commits (vX.Y.Z oder vX.Y.Z-rc.N)
  deploy:
    needs: [check-and-lint, adapter-tests]
    if: |
      contains(github.event.head_commit.message, '[skip ci]') == false &&
      github.event_name == 'push' &&
      startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: ioBroker/testing-action-deploy@v1
        with:
          node-version: '22.x'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sentry: false
          # sentry-token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          # sentry-project: "iobroker.danfoss-ally"
          # sentry-version-prefix: "iobroker.danfoss-ally"
